*{
    margin: 0;
    padding: 0px;
    color: rgb(41, 41, 41);
    font-family: 'Poppins', sans-serif;
}
.header{
    padding: 50px;
    display: flex;
}
h1{
    font-size: 50px;
    border-left: 4px solid #7900FF;
    padding-left: 20px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}
span{
    color: #3b74e4;
    border: #7900FF;
    font-family: 'Roboto Slab', serif;
}
.description{
    padding-top: 50px;
    padding-left: 45px;
    width: 150%;
}
.description p{
    padding-top: 50px;
    padding-bottom: 30px;
    line-height: 30px;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-color: #7900FF;
    padding: 8px 30px;
    border-radius: 10px;
}
i{
    color: #3b74e4;
}

.header-image img{
    width: 60%;
    padding-left: 100px;
}
.heading{
    text-align: center;
    font-size: 35px;
}
.midel-part{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.logo-design{
    padding-right: 60px;
    background-color: #f4eaff;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
}
.logo-design:hover{
    box-shadow: 6px 10px 10px #d4b3f7;
}
.logo-design img{
    width: 80px;
    padding-bottom: 25px;
}
.logo-design p{
    text-align: justify;
    padding-top: 10px;
}
.branding{
    margin-left: 20px;
    background-color: #c5d8ff;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
}
.branding:hover{
    box-shadow: 6px 10px 10px #95b8ff;
}
.branding img{
    width: 100px;
    margin-bottom: 25px;
}
.branding p{
    text-align: justify;
    padding-top: 10px;
}
.modeling{
    margin-left: 20px;
    background-color: #d9f2ff;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
}
.modeling:hover{
    box-shadow: 6px 10px 10px #a1d4f0;
}
.modeling img{
    width: 100px;
    margin-bottom: 25px;
}
.modeling p{
    text-align: justify;
    padding-top: 10px;
}
.develop-your-branding{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left;
    background-position-y:100px;
    background-position-x: 10px;
}
h2{
    font-size: 35px;
}
.develop-images img{
    width: 400px;
}
.develop-content{
    padding: 130px 100px 130px 90px;
}
.develop-content h2{
    padding-bottom: 30px;
}
.develop-content p{
    padding-bottom: 20px;
    line-height: 30px;
}
.read-link{
text-decoration: none;
color: white;
background-color: #7900FF;
padding: 10px 30px;
border-radius: 10px;}

.community{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-bottom: 80px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right;
    background-position-y: 250px;
}
.community-images img{
    width: 400px;
}
.community-content{
    padding-left: 100px;
    padding-right: 50px;
}
.community-content h2{
    padding-bottom: 30px;
}
.community-content p{
    padding-bottom: 20px;
    line-height: 30px;
}
.read-btn{
    text-decoration: none;
    color: white;
    background-color: #7900FF;
    padding: 10px 30px;
    border-radius: 10px
}
.color-blue{
    font-size: 30px;
}
.client-feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.client-images img{
    width: 400px;
    padding-left: 100px;
}
.feedback-content{
    padding-left: 100px;
    padding-right: 100px;
}
.feedback-content p{
    text-align: justify;
    padding-bottom: 30px;
}
.footer{
    margin-top: 50px;
    background-color: ;
}
.footer{
    background-color: rgb(2, 4, 27);
}
.thanks{
    text-align: center;
 }
.footer h2{
    color: white;
    font-family: 'Lobster', cursive;
    padding-top: 40px;
}
.footer span{
    color: #3b74e4;
    font-family: 'Lobster', cursive;
}
.footer p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    letter-spacing: 2px;
    color: rgb(148, 148, 163);
}